*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
    background-color: #2b0d0d;
}

.calculator{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.calc-container{
    background-color: #943d3d;

    width: 300px;
    height: auto;

    border-radius: 0 0 30px 30px;
}

.output{
    width: 100%;;
}   

.operation{
    width: 300px;
    height: 70px;

    color: #878787;

    font-size: 1.9em;
    font-weight: bold;

    position: relative;
    overflow: hidden;
}
.operation .value{
    position: absolute;

    bottom: 5px;
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
}

.result{
    width: 300px;
    height: 140px;

    color: #cc9191;

    font-size: 2.7em;
    font-weight: bold;
    
    overflow: hidden;
    position: relative;
}

.result .value{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
}


.input{
    background-color: #c2adad;

    border-radius: 0 0 25px 25px;
    border: 1px solid #1d1d1d;
    height: 340px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row button{
    width: 50px;
    height: 50px;

    font-size: 1.5em;

    border: none;
    border-radius: 50%;
    background-color: transparent;

    margin : 8px;

    cursor: pointer;
}

.row button:hover{
    font-weight: bold;
}

.row #calculate{
    color: #da8383;
    background-color: #b94c21;
    width : 121px;
    border-radius: 50px;
}
.row #delete{
    color: #c29090;
    background-color: #e05046;
}

#division, #multiplication, #subtraction, #addition {
    color: #220202;
}